.web-app-trade {
    width: 100%;
    text-align: center;
}

.column {
    border-left: 1px solid #bdbdbd;
    border-right: 1px solid #bdbdbd;
}

.details {
    padding: 20px;
}

.box {
    border-bottom: 2px solid #bdbdbd;
    padding: 20px;
    min-width: 560px;
    min-height: 30px;
}

.no-border {
    border-bottom: 0px;
}

.details-profile-picture {
    border-radius: 10%;
    width: 200px;
    height: 200px;
}

.user-entry {
    display: flex;
    align-content: center;
}

.entry:hover {
    background-color: #bdbdbd;
}

.entry-picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.name-entry {
    align-content: center;
}